[Unit]
Description=ClamAV Echtzeit-Überwachung (inotify)
Documentation=file:/home/hhepting/.local/clamav_watch/etc/config.json
After=default.target

[Service]
Type=simple
ExecStart=/bin/bash /home/hhepting/.local/clamav_watch/bin/clamav-watch.sh
Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
