[Unit]
Description=ClamAV realtime observer (inotify)
Documentation=file:/home/[HOME_DIR]/.local/clamav_watch/etc/config.json
After=default.target

[Service]
Type=simple
ExecStart=/bin/bash /home/[HOME_DIR]/.local/clamav_watch/bin/clamav-watch.sh
Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
